PORT=5000
MONGO_URI=mongodb+srv://siakloby:fleuwG7FFCN25uRo@cluster-a1.pilu8.mongodb.net/afse
GOOGLE_CLIENT_ID=747696258040-23th9ee3tmbhiu2qrgigvu7idr4o3823.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=bmV_JsMgUA3fBxBMCtiOp8qs
